<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./estilo.css">
    <title>Document</title>
</head>
<body>
    <header>
        
        <nav>
            <ul class="main-menu">
                <li>
                    <button class="menu-btn">Notificaciones</button>
                    <ul class="submenu">
                        <li onclick="location.replace('../notificaciones/index.html')">Panel de notificaciones</li>
                        <li onclick="location.replace('../campañas/index.html')">Campañas</li>
                        <li>Plantillas</li>
                    </ul>
                </li>
                <li>
                    <button class="menu-btn">Estadísticas</button>
                </li>
                <li>
                    <button class="menu-btn">Configuración</button>
                    <ul class="submenu">
                        <li>Usuarios</li>
                        <li>Rol</li>
                    </ul>
                </li>
                <li>
                    <button class="menu-btn">Raúl Perez</button>
                    <ul class="submenu">
                        <li>Salir</li>
                    </ul>
                </li>
            </ul>
        </nav>

    </header>
    <script src="script.js"></script>
</body>
</html>