<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../layout/estilo.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../poncho.min.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid container">
                <div class="row">
                    <div id="alignment-example" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav main-menu">
                            <li class="">
                                <!--<button class="menu-btn">Notificaciones</button>
                         <ul class="submenu">
                            <li onclick="location.replace('../notificaciones/index.html')">Panel de notificaciones</li>
                            <li onclick="location.replace('../campañas/index.html')">Campañas</li>
                            <li>Plantillas</li>
                        </ul> -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notificaciones<span class="caret"></span></a>
                                <ul class="dropdown-menu" aria-labelledby="Notificaciones">
                                    <li><a href="../notificaciones/index.html">Panel de notificaciones</a></li>
                                    <li><a href="../campañas/index.html">Campañas</a></li>
                                </ul>
                            </li>
                            <li>
                                <!-- <button class="menu-btn">Estadísticas</button> -->
                                <a href="">Estadísticas</a>
                            </li>
                            <li class="">
                                <!-- <button class="menu-btn">Configuración</button> -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuración<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Usuarios</a></li>
                                    <li><a href="">Rol</a></li>
                                </ul>
                            </li>
                            <li class="">
                                <!-- <button class="menu-btn">Raúl Perez</button> -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raúl Perez<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- <script src="script.js"></script> -->
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Initialize Bootstrap functionality -->
    <script>
    // Initialize tooltip component
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })

    // Initialize popover component
    $(function() {
        $('[data-toggle="popover"]').popover()
    })
    </script>
</body>

</html>